[Unit]
Description=CHV Vsock Server
# We need to listen on the vsock port.
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/arrakis-vsockserver
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
