[Unit]
Description=CHV Command Server
After=arrakis-guestinit.service

[Service]
Type=simple
ExecStart=/usr/local/bin/arrakis-cmdserver
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
