[Unit]
Description=CHV Guest Initialization Service
# This service configures the guest's network and thus requires the interface to be UP.
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/chv-guestinit
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
