[Unit]
Description=CHV Vsock Server
After=chv-network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/chv-vsockserver
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
